* {
	box-sizing: border-box;
	font-family: 'Rubik';
}

body {
//	background:
//	linear-gradient(to right top, rgba(172,255,181,0.75), rgba(0,225,205,0.75), rgba(0,187,255,0.75), rgba(0,136,255,0.75), rgba(75,45,235,0.75)) no-repeat center center fixed,
//	url('../images/logo_background.png') no-repeat center center fixed;
	background:
	linear-gradient(to right top, #bcfec5, #9ff8cb, #81f1d3, #62e9dc, #40e0e5) no-repeat center center fixed;
	margin: 0;
}

.logo_top {
	filter: drop-shadow(15px 15px 25px #FFFFFF);
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;  
}

.glow {
	animation: glowing 2500ms infinite;
}

@keyframes glowing {
	0%	{
		box-shadow: 0 0 10.1px #FFFFFF;
		}
	5%	{
        box-shadow: 0 0 12.5px #ecebf3;
		}
	10% {
		box-shadow: 0 0 15.1px #d8d7e7;
        }
	15% {
        box-shadow: 0 0 17.5px #c5c4db;
        }
	20% {
        box-shadow: 0 0 20.1px #b1b1cf;
        }
	25% {
        box-shadow: 0 0 22.5px #9fa0c5;
        }
    30% {
        box-shadow: 0 0 20.1px #8d90bb;
		}
	35% {
        box-shadow: 0 0 17.5px #7a80b1;
        }
	40% {
        box-shadow: 0 0 15.1px #646fa6;
        }
	45% {
        box-shadow: 0 0 12.5px #4d5f9b;
        }
	50% {
        box-shadow: 0 0 10.1px #324f90;
        }
	55% {
        box-shadow: 0 0 10.1px #004085;
        }
	60% {
        box-shadow: 0 0 12.5px #4d5f9b;
        }
	65% {
        box-shadow: 0 0 15.1px #646fa6;
        }
	70% {
        box-shadow: 0 0 17.5px #7a80b1;
        }
    75% {
        box-shadow: 0 0 20.1px #8d90bb;
		}
	80% {
        box-shadow: 0 0 22.5px #9fa0c5;
        }
	85% {
        box-shadow: 0 0 20.1px #b1b1cf;
        }
	90% {
        box-shadow: 0 0 17.5px #c5c4db;
        }
	95% {
		box-shadow: 0 0 15.1px #d8d7e7;
        }
	100% {
        box-shadow: 0 0 12.5px #ecebf3;
		}		
	}


.glitch {
    position: relative;
    font-weight: 700;
    letter-spacing: 0.25rem;
    text-shadow: 0.05em 0 0 rgb(255 0 0 / 75%), -0.025em -0.05em 0 rgb(0 255 0 / 75%), 0.025em 0.05em 0 rgb(0 0 255 / 75%);
    animation: glitch 500ms infinite;
	}

@keyframes glitch{
	0%{
		text-shadow:
		0.05em 0 0 rgba(255, 0, 0, .75),
		-0.025em -.05em 0 rgba(0, 255, 0, .75),
		0.025em .05em 0 rgba(0, 0, 255, .75);
		}
	14%{
		text-shadow:
		0.05em 0 0 rgba(255, 0, 0, .75),
		-0.025em -.05em 0 rgba(0, 255, 0, .75),
		0.025em .05em 0 rgba(0, 0, 255, .75);
		}
	15%{
		text-shadow:
		-0.05em -.025em 0 rgba(255, 0, 0, .75),
		0.025em 0.025em 0 rgba(0, 255, 0, .75),
		-0.05em -.05em 0 rgba(0, 0, 255, .75);
		}
	49%{
		text-shadow:
		-0.05em -.025em 0 rgba(255, 0, 0, .75),
		0.025em 0.025em 0 rgba(0, 255, 0, .75),
		-0.05em -.05em 0 rgba(0, 0, 255, .75);
		}
	50%{
		text-shadow:
		0.025em 0.05em 0 rgba(255, 0, 0, .75),
		0.05em 0 0 rgba(0, 255, 0, .75),
		0 -0.05em 0 rgba(0, 0, 255, .75);
		}
	99%{
		text-shadow:
		0.025em 0.05em 0 rgba(255, 0, 0, .75),
		0.05em 0 0 rgba(0, 255, 0, .75),
		0 -0.05em 0 rgba(0, 0, 255, .75);
		}
	100%{
		text-shadow:
		-0.025em 0 0 rgba(255, 0, 0, .75),
		-0.025em -0.025em 0 rgba(0, 255, 0, .75),
		-0.025em -0.05em 0 rgba(0, 0, 255, .75);
		}
	}


.swiped_text {
	background-image: linear-gradient(
		-225deg,
		#231557 0%,
		/*#44107a 20%,
		#ff1361 40%,
		#fff800 60%,
		#ff1361 80%,
		#44107a 100%*/
		#34146b 20%,
		#690a7c 40%,
		#c60078 60%,
		#690a7c 80%,
		#34146b 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 3s linear infinite;
	display: inline-block;
	}

@keyframes textclip {
	to	{
		background-position: 200% center;
		}
	}


.button {
	width: 225px;
	height: 45px;
	margin: 10px;
	padding: 5px 27px;
	border: none;
//	border: 3px solid black;
	border-radius: 25px 50px;
//	background-color: black;
	background: linear-gradient(45deg, #4528bf 0%, #00ccc9 100%);
	color: white;
	font-size: 15px;
	font-weight: bold;
	transition: background-color 0.2s ease, color 0.2s ease;
	transform: translate(0px,0px);
	transition: 300ms;
	cursor: pointer;
}

.button:hover, .button:focus {
// 	background-color: transparent;
	background: transparent;
	padding: 7px 27px;
	border: 2px solid black;
	color: black;
	transform: translate(3px,3px);
	transition: 500ms;
}


.whatsapp {
//	background-color: #25d366;
	background: linear-gradient(45deg, #25d366 0%, #00ccc9 100%);
//	border: 3px solid #25d366;
	border: none;
}

.telegram {
//	background-color: #0088cc;
	background: linear-gradient(45deg, #0088cc 0%, #00ccc9 100%);
//	border: 3px solid #0088cc;
	border: none;
}

.nft {
//	background-color: #000000;
	background: linear-gradient(45deg, #393030 0%, #00ccc9 100%);
//	border: 3px solid #000000;
	border: none;
}

.title {
	text-align: center;
	font-size: 45px;
	margin-top: -10px;
	margin-bottom: 0px;
}

.subtitle1 {
	text-align: center;
	font-size: 25px;
	margin-top: -5px;
	margin-bottom: 10px;
}

.subtitle2 {
	text-align: center;
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: -5px	;
}

.subtitle3 {
	text-align: center;
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.subtitle4 {
	text-align: center;
	font-size: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.social-media {
	margin: 0 auto;
	text-align: center;
}

.icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.55;
	transform: scale(0.75);
	transition: 300ms;
	}

.icon:hover,.icon:focus {
	opacity: 1;
	transform: scale(1.15) rotate(360deg);
	transition: 600ms easy-out;
	cursor: pointer;
}

.fac {
	background-image: url("../images/50x50_sm_logo_fac.png");
}

.ins {
	background-image: url("../images/50x50_sm_logo_ins.png");
}

.tik {
	background-image: url("../images/50x50_sm_logo_tik.png");
}

.twi {
	background-image: url("../images/50x50_sm_logo_twi.png");
}

 
  /*** RESPONSIVE ***/
  /***** MOBILE *****/
  @media screen and (max-width: 576px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.5);
    }
    .layout section {
      font-size: 35px;
	  transform: scale(0.5);
    }
  }